html {
  width: 100%; }

body {
  background: transparent;
  margin: 50px auto;
  width: 512px; }

.big-container {
  display: inline-block; }

.template {
  display: block; }

.mld-card {
  width: 33%; }

.mdl-card + .mdl-card {
  margin-top: 40px; }

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh;
  /* 1 */
  padding-left: 150px;
  width: 100%; }
  .mdl-card--horizontal .mdl-card__media {
    left: 0;
    position: absolute;
    width: 150px;
    background: transparent; }
  .mdl-card--horizontal .mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto; }
